{% extends "base.html" %}

{% block title %}
    Управление аккаунтом
{% endblock %}

{% block content %}
<div class="form-container" id="account">
    <h1>
        Управление вашим аккаунтом
    </h1>

    <div class="current-username">
        <p>Пользователь: <strong>{{ user.username }}</strong></p>
    </div>

    <form action="{% url 'app:account' %}" method="post">
        {% csrf_token %}
        {{ account_form.username.label_tag }}
        {{ account_form.username }}
        
        {{ account_form.email.label_tag }}
        {{ account_form.email }}

        <div class="account-buttons">
            <input type="submit" class="account-btn" value="Сохранить изменения">
        </div>
    </form>

    <div class="account-buttons">
        <a href="{% url 'app:change-password' %}" class="account-btn">Изменить пароль</a>
    </div>

    <form action="{% url 'app:logout' %}">
        {% csrf_token %}
        <div class="account-buttons">
            <input type="submit" class="account-btn" value="Выйти">
        </div>
    </form>
    
</div>
{% endblock %}
