{% extends "base.html" %}

{% block title %}
    Управление аккаунтом
{% endblock %}

{% block content %}
<div class="form-container" id="account">
    <h1>
        Управление вашим аккаунтом
    </h1>

    <form action="{% url 'app:account' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <div class="account-buttons">
            <input type="submit" class="account-btn" value="Сохранить изменения">
            <a id="logout" class="account-btn" href="/account/logout/">Выйти</a>
        </div>
    </form>
</div>
{% endblock %}
