{% extends "base.html" %}

{% block title %}
    Управление аккаунтом
{% endblock %}

{% block notifications_button %}
    <!--Уведомления для пользователя-->
    <div class="notification-container">
        <button id="notificationToggle"
                class="notification-icon"
                aria-label="Уведомления">
            <i class="fas fa-bell"></i>
        </button>

        <!-- popover -->
        <div id="notificationPanel" class="notification-panel hidden">
            <p style="padding:16px;color:var(--text-secondary);">
                Здесь будут показываться уведомления
            </p>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="form-container" id="account">
    <h1>
        Управление вашим аккаунтом
    </h1>

    <div class="current-username">
        <p>Пользователь: <strong>{{ user.username }}</strong></p>
    </div>

    <form action="{% url 'app:account' %}" method="post">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        
        {{ form.email.label_tag }}
        {{ form.email }}

        <div class="account-buttons">
            <input type="submit" class="account-btn" value="Сохранить изменения">
        </div>
    </form>

    <form action="{% url 'app:logout' %}">
        {% csrf_token %}
        <div class="account-buttons">
            <input type="submit" class="account-btn" value="Выйти">
        </div>
    </form>
    
</div>
{% endblock %}
