{% extends "base.html" %}

{% block title %}
Страница входа
{% endblock %}

{% block content %}
<div class="form-container" id="login">
    <h1>
        Войдите в свой аккаунт
    </h1>

    <form action="{% url 'app:login' %}" method="post">
        {% csrf_token %}
        <div class="form-field">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.password.label_tag }}
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="account-buttons">
            <input type="submit" class="account-btn" value="Войти">
            <a id="register" class="account-btn" href="/account/register/">Зарегистрироваться</a>
        </div>
    </form>
    
</div>
{% endblock %}