{% extends "base.html" %}

{% block title %}
    Страница регистрации
{% endblock %}

{% block content %}
<div class="form-container" id="register">
    <h1>
        Зарегистрируйте свой аккаунт
    </h1>

    <form action="{% url 'app:register' %}" method="post">
        {% csrf_token %}
        <div class="form-field">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="error">{{ form.password1.errors }}</div>
            {% endif %}
        </div>
        <div class="form-field">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="error">{{ form.password2.errors }}</div>
            {% endif %}
        </div>
        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="account-buttons">
            <input type="submit" class="account-btn" value="Зарегистрироваться">
            <a id="login" class="account-btn" href="/account/login/">Войти</a>
        </div>
    </form>
</div>
{% endblock %}
